Repository anyatyutyunnik/SimpleRetro: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, prettier --write --parser markdown, prettier --write --parser json, stylelint --fix

fix: google auth
  src/screens/signin/model/signin-screen-model.ts
  src/shared/firebase/firebase-model.ts
Due: prettier --write, eslint --fix

feat: add validation for signin
  package-lock.json
  package.json
  src/screens/signin/model/signin-screen-model.ts
  src/screens/signin/signin-screen.tsx
  src/shared/ui/index.ts
  src/shared/ui/text-field/index.ts
  src/shared/ui/text-field/text-field.tsx
Due: prettier --write, eslint --fix, prettier --write --parser json

feat: impl chain auth for routes
  src/screens/board-list/model/board-list-screen-model.ts
  src/screens/main/model/main-screen-model.ts
  src/screens/signin/model/signin-screen-model.ts
  src/shared/router/chain-auth.ts
  src/shared/router/index.ts
  src/shared/router/router.ts
  src/shared/session/session-model.ts
Due: prettier --write, eslint --fix

chore: add nvm rc
  .nvmrc
Due: none

feat: add auth chain for board route
  src/screens/board/model/board-screen-model.ts
Due: prettier --write, eslint --fix

feat: impl not found screen
  src/screens/not-found/index.ts
  src/screens/not-found/model/not-found-screen-model.ts
  src/screens/not-found/not-found-screen.tsx
  src/screens/screens.tsx
  src/shared/router/router.ts
  src/shared/urls/urls.ts
Due: prettier --write, eslint --fix

ci: setup ci workflow for lint
  .github/workflows/ci.yml
Due: none

wip
  src/main.tsx
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: any of: *.{js,cjs,ts,tsx}
  eslint --fix: any of: *.{js,cjs,ts,tsx}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
  stylelint --fix: any of: *.css
